body {
    font-family: "Quicksand-Regular", Helvetica;
    overflow: none !important;
}

.head {
    background-color: #e5e8ff;
    backdrop-filter: blur(20.2px) brightness(100%);
    -webkit-backdrop-filter: blur(20.2px) brightness(100%);
}

.head .text-wrapper {
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

.time {
    margin-top: 2vh;
}

.time .text-wrapper {
    font-weight: 400;
    color: #000000;
    font-size: 40px;
    letter-spacing: 0;
    line-height: normal;
}

button.end {
    background-color: #ffffff;
    border-radius: 10px;
    height: 60px;
    border: 1px solid #00000080;
    border-color: #00000080;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

button.end:hover {
    background-color: #fffdf1;
    border-radius: 10px;
    border: 1px solid #00000080;
    border-color: #00000080;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

button.nav{
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #00000080;
    border-color: #00000080;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    height: fit-content;
    justify-content: center;
    width: 50px;
}

button.nav:hover{
    background-color: #fffdf1;
    border-radius: 10px;
    border: 1px solid #00000080;
    border-color: #00000080;
    color: #000000;
    font-size: 24px;
    letter-spacing: 0;
    height: fit-content;
}


@media (max-width: 768px) {
    .quiz-item-frame .p {
        font-size: 20px;
    }

    .quiz-item-frame .text-wrapper {
        font-size: 20px;
    }

    .time .text-wrapper {
        font-size: 28px;
    }

    .head .text-wrapper {
        font-size: 32px;
    }
}
