<div class="hold-transition sidebar-mini layout-fixed">
    <!-- Site wrapper -->
    <div class="wrapper">
        <!-- Navbar -->
        <app-admin-navbar></app-admin-navbar>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <app-admin-sidebar></app-admin-sidebar>
        <!-- /.sidebar -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Main content -->
            <router-outlet></router-outlet>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    </div>
    <!-- /.wrapper -->
</div>