<div class="overlap-group-card">
    <div class="div"></div>
    <img class="lena rounded-circle border border-3" [src]="user.avatar" />
    <div class="text-wrapper name">{{user.fullName}}</div>
    <div class="text-wrapper-2">SINH VIÊN</div>
    <p class="p">
        Mình là {{user.fullName}}, mục tiêu của mình là 650 điểm TOEIC, các bài học và quizz
        mình tạo ra để hỗ trợ việc học của
        mình, ngoài ra mình hi vọng nó cũng hữu ích cho các bạn để có thể trau
        dồi thêm kiến thức
    </p>
    <div class="card-button">
        <button class="button-user text-nowrap">Xem thông tin
        </button>
    </div>
</div>