<div class="container mt-4">
  <h2>Tạo học phần mới</h2>
  <form [formGroup]="createLessonF" (ngSubmit)="onCreateLesson()" >
    <div class="form-group">
      <label for="courseName">Tên học phần:</label>
      <input type="text" class="form-control" id="courseName" placeholder="Tên học phần" formControlName="title">
    </div>
    <div class="form-group">
      <label for="description">Mô tả:</label>
      <textarea class="form-control" id="description" rows="3" placeholder="Nhập mô tả"
        formControlName="description"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Ảnh bìa: </label>
      <input type="file" class="form-control-file" id="image" >
    </div>
    <div formArrayName="questions">
      <div *ngFor="let question of questionForms.controls; let i = index">
        <div [formGroupName]="i">
          <div class="form-group">
            <label [for]="'question'+i">Câu {{ i + 1 }}:</label>
            <input type="text" class="form-control" [id]="'question'+i" placeholder="Câu hỏi"
              formControlName="question">
            <div class="form-group mt-2">
              <label [for]="'answerA'+i">Đáp án:</label>
              <input type="text" class="form-control m-1" [id]="'answerA'+i" placeholder="Đáp án A"
                formControlName="answerA">
              <input type="text" class="form-control m-1" [id]="'answerB'+i" placeholder="Đáp án B"
                formControlName="answerB">
              <input type="text" class="form-control m-1" [id]="'answerC'+i" placeholder="Đáp án C"
                formControlName="answerC">
              <input type="text" class="form-control m-1" [id]="'correctAnswer'+i" placeholder="Đáp án đúng"
                formControlName="correctAnswer">
            </div>
          </div>
        </div>
      </div>
    </div>
    <button type="button" class="btn btn-primary px-3" (click)="addQuestion()">Thêm câu hỏi</button>
    <button type="submit" class="btn btn-success mt-3 my-3">Tạo học phần</button>
  </form>
</div>
