<div class="box_item">
    <div class="title">
        <div class="b-i-h-c-wrapper">
            <div class="b-i-h-c text-nowrap">Người dùng</div>
        </div>
    </div>

    <div class="frame-10 mt-3 d-flex align-items-center">
        <i class="bi bi-list-ul"></i>
        <div class="xem-t-t-c ms-3">Xem Tất Cả</div>
    </div>

    <div class="frame-4 row">
        <div *ngFor="let user of users$ | async" class="card-item mt-4 col-3">
            <app-user-item [user]="user"></app-user-item>
        </div>
    </div>
</div>
